:root {

    --bg1: #2d2a2b;
    --bg2: rgb(44, 42, 42);
    --brand: #250047;
    --whit: rgb(235, 235, 235);
    --p: rgb(16, 150, 150);
    --body: rgb(190, 30, 30);
}   

* {
    font-family: "Times New Roman", sans-serif;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(#94928f, #94928f, #94928f, #94928f, #94928f);
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: #00eeff;
    transition: all 0.4s ease;
}

.navbar .navbar-brand:hover {
    color: #00eeff;
    transition: all 0.4s ease;
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar .navbar-brand img {
    width: 40px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
}

.nav-link.active {
    font-weight: bold;
    color: #00eeff;
  }
/* END NAVBAR */





#banner .text {
    color: #ffff;
}
/* END BANNER */



/* SECTION */
section {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* END SECTION */



/* BUTTON */

.btn {
    padding: 15px 30px;
    transition: all 0.4s ease;
    border-radius: 3;
    font-weight: 800;
}

.btn-brand {
    background-color: #00eeff;
}

#banner .btn-brand:hover {
    background-color: transparent;
    color: #00eeff;
    border-color: #00eeff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#about .btn-brand:hover {
    background-color: transparent;
    color: #00eeff;
    border-color: #00eeff;
}

#services .btn-outlined-brand {
    background-color: transparent;
    color: #00eeff;
    border-color: #00eeff;
}

#services .btn-outlined-brand:hover {
    background-color: navy;
    color: #fff;
}

#cta .btn-outlined-brand {
    background-color: transparent;
    color: #00eeff;
    border-color: #00eeff;
}

#cta .btn-outlined-brand:hover {
    background-color: navy;
    color: #fff;
}
/* END BUTTON */



/* ROW */
.row {
    text-align: justify;
}
/* END ROW */

/* ABOUT */
#about {
    background: linear-gradient(#ffffff, rgb(208, 208, 208), #b0b0b0, #656565);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
/* ABOUT END */

/* SERVICES CARD */
.icon-img-box {
    width: 40%;
}

.card {
    transition: background-color 0.2s, 0.2s;
}

.card:hover {
    background: linear-gradient(#ddac6c, #138ddf, #138ddf, #138ddf, #464cff);
}

#services .card:hover .card-title,
#services .card:hover .card-text,
#services .card:hover .btn {
    color: #494747;
    border-color: #15d5ee;
}
#services{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#cta .card:hover .card-title,
#cta .card:hover .card-text,
#cta .card:hover .btn {
    color: #fff;
    border-color: #fff;
}

#services .card img{
    filter: drop-shadow(15px 5px 2px #000000);
    width: 5em;
}
/* END SERVICES CARD */



/* CTA */
#cta {
    background: linear-gradient(to right, hsla(0, 2%, 17%, 0.616), rgba(44, 42, 42, 0.726)), url("https://s3.amazonaws.com/digitalgov/_legacy-img/2016/09/600-x-404-Abstract-technology-background-pixelparticle-iStock-Thinkstock-494206787.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 70vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
}

#cta .card img{
    filter: drop-shadow(10px 5px 2px #40d67f);
}
/* END CTA */



/*  REVIEWS */
#reviews {
    background-color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.testimonials {
    background-color: var(--bg2);
    padding: 30px;
}

.testimonials img {
    width: 65px;
    border-radius: 50%;
    height: 65px;
}

#reviews {
    color: var(--brand);
}
/* END REVIEWS */

/* FOOTER */
#faq{
    background-color: #00eeff;
}
.footer_section {
    background-color: #032633d3;
    color: #e7671280;
    text-align: center;
  }
 
  .footer_section .footer-info {
    text-align: center;
  }
  .footer_section .footer-info p {
    color: #d6c101;
    margin: 0;
  }
  .footer_section .footer-info p a {
    color: #0aaae4;
    text-decoration: none;
  }
  .faq-section {
    max-width: 800px;
    margin: auto;
  }

  .faq-item {
    margin-bottom: 20px; /* Add margin bottom for spacing */
    border-radius: 0 !important;
  }

  .faq-question {
    background-color: #f78707bb;
    border: none;
    border-bottom: 1px solid #25c0b3da;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #e66006bb;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
  }

  .faq-answer {
    border-left: 3px solid var(--brand);
    padding: 10px 15px;
    margin-left: 0;
    background-color: #d8970c96;
  }

  .faq-answer p {
    margin-bottom: 0;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: var(--bg1);
  }

  /* Hover effect for FAQ questions */
  .faq-question:hover {
    background-color: #40d67f; /* Change background color on hover */
    color: #ff730081; /* Change text color on hover */
  }

  /* Adjust accordion icon */
  .accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: ""; /* Plus icon */
    float: right;
    font-weight: 900;
    margin-left: auto;
  }

  .accordion-button[aria-expanded="true"]::after {
    content: ""; /* Minus icon */
    
  }

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #052527d3;
}

#footer ul.list-unstyled li a {
    color: #ee7606ad;
}

#footer ul.list-unstyled li:hover a {
    color: #ff9900;
}

#reviews h2, #services h2 {
    color: #ec8702dc;
}

.btn-outline-light {
    border-color: #F2B03B !important;
    color: #F2B03B;
}

#footer h5 {
    color: #ff9900;
    margin-bottom: 15px;
}


@media only screen and (max-width: 767px) {
    h1 , h2 {
        font-size: 45px;
        text-align: center;
    }
    #banner p {
        text-align: center;

    }
    .btn {
        font-size: 14px !important;
        padding: 18px 0px;
        width: 180px;
    }
    section {
        padding: 60px 10px;
    }

    #about h3, #about p {
        text-align: center;
    }

   .card {
    margin-bottom: 30px;
   }

   #cta h2 , #cta2 h2{
    font-size: 35px;
   }

   #about:after {
    display: none;
   }

   #footer {
    padding: 50px 20px;
   }

   #about img {
    height: 350px;
    width: 100%;
    background-size: cover;
   }

    
}
/* END FOOTER */